.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #f8f9fa;
	height: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 30px;
}

.navbar-content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.language-switcher {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 5px;
}

.flag-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 0.3s ease;
	font-size: 24px; 
}

.flag-container.active {
	background-color: rgba(0, 0, 0, 0.1);
}

.separator {
	width: 1px;
	height: 24px;
	background-color: rgba(0, 0, 0, 0.2);
}

.logout-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	color: #495057;
	cursor: pointer;
	transition: color 0.3s ease;
	gap: 5px;
	width: 7vw;
}

.logout-button:hover {
	color: #dc3545;
}
