.navbar {
	display: flex;
	justify-content: flex-end;
	color: black;
	width: 100.8%;
	height: 60px;
}

.main-content {
	padding: 0;
}

.navbar-content {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

.sidebar-container {
	height: 100vh;
	background-color: #f8f9fa;
}

.outlet-container {
	padding: 20px;
}
