.navbar {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	color: black;
	width: 101%;
	height: 60px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.main-content {
	padding: 0;
}

.navbar-content {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

.sidebar-container {
	height: 100vh;
	background-color: #f8f9fa;
}

.outlet-container {
	padding: 20px;
}

.btn.btn-outline-dark {
	background-color: transparent;
	color: black;
	border: 1px solid black;
  }
  
  .btn.btn-outline-dark:hover {
	background-color: transparent;
	color: black;
	border-color: red;
  }
  

.logout-button {
	background: none;
	border: none;
	cursor: pointer;
	color: #495057;
	transition: color 0.3s ease;
	display: flex;
	align-items: center;
	padding-right: 30px;
}

.logout-button:hover {
	color: #dc3545;
}

hr {
	width: 100%;
	margin-top: 0;
	border: none;
}