.side-bar {
	width: 16%;
	height: 100vh;
	background-color: #ffffff;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.side-bar h1 {
	font-size: 2.5rem; /* Tăng kích thước chữ "Quản trị" */
	color: #000000;
	margin-bottom: 30px;
	text-align: left;
	transition: color 0.3s ease; /* Thêm hiệu ứng hover */
}

.home-link {
	text-decoration: none;
	color: #000000;
	transition: color 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.side-bar ul {
	list-style: none;
	padding: 0;
	width: 100%;
	flex-grow: 1; /* Để các phần tử khác chiếm không gian */
}

.side-bar ul li {
	margin-bottom: 20px;
	width: 100%;
	background-color: #ffffff; /* Nền trắng khi bình thường */
	border-radius: 5px; /* Bo góc cho thẻ li */
	transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.side-bar ul li p {
	font-size: 1.2rem;
	color: #000000; /* Chữ đen khi bình thường */
	padding: 10px 20px;
	margin: 0;
	border-radius: 5px; /* Bo góc cho thẻ p */
	text-align: left;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.side-bar ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.side-bar ul li:last-child {
	margin-top: auto;
}

/* Main menu item style */
.nav-link {
	display: flex;
	align-items: center;
	color: #000000;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 16px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main menu hover and active (clicked) state */
.nav-link:hover {
	background-color: #4caf50; /* Green background */
	color: white; /* White text */
}

/* Submenu item style */
.submenu .dropdown-item {
	padding-left: 15px; /* Space between the line and text */
	font-size: 14px;
	color: #495057;
	margin-bottom: 10px;
	transition: color 0.3s ease;
}

/* Submenu item hover and active (clicked) state */
.submenu .dropdown-item:hover,
.submenu .dropdown-item.active {
	color: #4caf50; /* Green text */
}

/* For continuous vertical line next to submenu */
.submenu {
	padding-left: 20px;
	position: relative;
	margin-left: 0px;
	margin-top: 10px; /* Add space between main button and submenu */
}

/* Continuous vertical line next to submenu */
.submenu::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #6c757d;
}
