.logo-img {
	width: 100%;
}

.divider {
	border: none;
	border-top: 1px solid white;
	margin: 15px 0 20px;
}

.side-bar {
	width: 250px;
	height: 100vh;
	background-color: #ffffff;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	overflow-y: auto;
}

.side-bar h1 {
	font-size: 20px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 30px;
	text-align: left;
	transition: color 0.3s ease;
}

.home-link {
	text-decoration: none;
	color: #000000;
	transition: color 0.3s ease;
}

.side-bar ul {
	list-style: none;
	padding: 0;
	width: 10px;
	flex-grow: 1;
}

.side-bar ul li {
	margin-bottom: 15px;
	width: 210px;
	background-color: #ffffff;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.side-bar ul li p {
	font-size: 10px;
	color: #000000;
	padding: 10px 20px;
	margin: 0;
	border-radius: 5px;
	text-align: left;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.side-bar ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.side-bar ul li:last-child {
	margin-top: auto;
}

.nav-item.active .nav-link,
.nav-link.hover {
	background-color: #4caf50;
	color: white;
	border-radius: 4px;
}

.nav-link {
	display: flex;
	align-items: center;
	color: #000000;
	padding: 8px 10px;
	border-radius: 4px;
	font-size: 17px;
	font-weight: 350;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
	background-color: #4caf50;
	color: white;
}

.submenu .dropdown-item {
	padding-left: 20px;
	font-size: 15px;
	color: #495057;
	margin-bottom: 8px;
	transition: color 0.3s ease;
}

.submenu .dropdown-item {
	padding-left: 20px;
	font-size: 15px;
	color: #495057;
	margin-bottom: 8px;
	transition: color 0.3s ease;
}

.submenu .dropdown-item:hover,
.submenu .dropdown-item.hover {
	color: #4caf50;
}

.submenu {
	max-width: 100%;
	padding-left: 30px;
	position: relative;
	margin-left: 1vw;
	margin-top: 10px;
}

.submenu::before {
	content: "";
	position: absolute;
	left: 0vw;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #6c757d;
}

.transition-transform {
	transition: transform 0.3s;
}

.rotate-180 {
	transform: rotate(180deg);
}

.user-card {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 12px;
	padding: 10px 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	cursor: pointer;
	justify-content: space-between;
}

.user-card:hover {
	background-color: #f3f4f6;
}

.user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d1d5db;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 500;
	color: #374151;
	flex-shrink: 0;
}

.user-name {
	font-size: 16px;
	font-weight: 600;
	color: #1f2937;
	margin-left: 10px;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-arrow {
	font-size: 18px;
	color: #6b7280;
}
